body {
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 56px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a1b50;
    position: fixed;
    height: 140px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

header.scrolled {
    background-color: rgba(10, 27, 80, 0.9);
}

nav a {
    color: #37b8f5;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

b {
    font-size: 24px;
    color: #64acd2;
}

b {
    border: 2px solid rgb(77, 27, 105);
    border-radius: 10px;
    background-color: rgb(77, 33, 102);
    color: white;
}

.logo img {
    width: 300px;
    height: 300px;
}

h1 {
    font-weight: 200;
    margin: 0;
}

a {
    font-size: 24px;
    color: #64acd2;
}

a:hover {
    border: 2px solid rgb(77, 27, 105);
    border-radius: 10px;
    background-color: rgb(77, 33, 102);
    color: white;
}

.carousel p {
    max-height: 900px;
    overflow: hidden;
    margin-top: 84px;
    padding-left: 20px;
    border: 3px solid rgb(42, 14, 201);
    border-radius: 10px;
    background-color: rgb(42, 14, 201);
    color: white;
    font-size: 25px;
    font-family: 'open_sansligh';
    text-transform: uppercase;
}

/*slide IMG*/
.carousel-item img {
    margin-top: 80px;
    width: 100%;
    height: 500px;
/* Altura fixa para o carrossel */
    object-fit: cover;
    color: #64acd2;
}

img,
svg {
    color: black;
}

.titulo-destacado {
    padding-top: 10%;
    color: #37b8f5;
    text-transform: uppercase;
    font-size: 41px;
}

.beneficios-solar {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 6px;
    margin: 70px;
    box-sizing: content-box;
    justify-self: center;
}

.beneficios-energia {
    background: #f9f9f9;
    padding: 20px;
    flex: 1 1 calc(25% - 20px);
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-width: 250px;
}

.beneficios-energia:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.beneficios-energia h3 {
    font-size: 1.5em;
    color: #0a1b50;
    margin-bottom: 10px;
}

.beneficios-energia p {
    font-size: 1em;
    color: #555;
    line-height: 1.4;
}

h3 {
    line-height: 20px;
    font-size: 56px;
    font-family: 'open_sansligh';
}

.section li {
    font-size: 1.5rem;
    font-family: 'Arial', sans-serif;
    color: #0a1b50;
    list-style-type: none;
}

.borda-em-perguntas {
    flex: 1;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    color: #000000;
}

.borda-em-perguntas {
    display: flex;
    margin: 5px 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    align-items: stretch;
    flex-wrap: nowrap;
    border-radius: 45px;
}

#duvidas.lista-perguntas {
    position: relative;
    background: rgba(230, 221, 221, 0.5);
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 10px;
    align-items: center;
    animation: fadeIn 1s forwards;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    z-index: 1;
    overflow: hidden;
    
}

/*Imagem no fundoo*/
#duvidas.lista-perguntas::before {
    content: '';
    position: absolute;
    top: -18%;
    left: 0;
    width: 100%;
    height: 120%;
    background-image: url('img1/1-image-photography-with-natural__77286.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: 0;
    border-radius: 10px;
}

/*Conteúdo visível por cima da imagem de fundo */
#duvidas.lista-perguntas * {
    position: relative;
    z-index: 2;
}

.perguntasE-imagem {
    font-size: 30px;
    text-transform: uppercase;
    color: midnightblue;
    font-family: system-ui;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.pessoas-pensando {
    left: 5%;
    margin-top: 20px;
}

.pessoas-pensando img {
    width: 140px;
    max-width: 100%;
    height: auto;
    left: -60%;
}

.perguntas-frequentes {
    margin-top: 3%;
    font-size: 31px;
    font-weight: bold;
    color: #000000;
    /* Cor principal */
    text-shadow: 3px 3px 0 #fbfbfc,
    /* Sombra azul mais escura */
    6px 6px 0 rgba(0, 0, 0, 0.2);
    /* Sombra preta suave */
}

h4 {
    margin-top: -11px;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    /* Cor principal */
    text-shadow: 3px 3px 0 #fbfbfc,
    /* Sombra azul mais escura */
   6px 6px 0 rgba(0, 0, 0, 0.2);
    /* Sombra preta suave */
}

h5 {
    color: midnightblue;
    font-size: 30px;
    font-family: fantasy;
}

.saiba-mais {
    background-color: #0a1b50;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: background 0.9s;
}

.saiba-mais:hover {
    background-color: #e68a00;
}

.section {
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 10px;
    animation: fadeIn 1s forwards;
}


.promo {
    background-color: #0a1b501a;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    color: black;
}

/*titulos footer*/
.final-ajuda {
    color: rgb(11, 0, 114);
    font-size: 25px;
    font-family: fantasy;
}

footer {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

h6,
a {
    font-size: 20px !important;
    font-family: serif !important;
}

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #353537;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0;
    margin: -10px;
}

.footer2 {
    display: flex;
    flex-direction: row;
    gap: 160px;
}

.inicio {
    background-color: #636363;
    height: 26px;
    display: flex;
    font-family: 'Arial', sans-serif;
    color: rgb(0, 0, 0);
    margin: 0px 0;
}

.sobre-nos {
    color: rgb(17, 15, 15);
    background-color: #ffffff;
    padding: 50px;
    display: flex;
    gap: 36px;
    margin: -76px;
}

.imagem-empresa img {
    width: 505px;
    margin-top: 265px;
    padding: 50px;
}

.sobre-nos h1 {
    margin-top: 260px;
    color: #37b8f5;
    text-transform: uppercase;
    font-size: 41px;
}

.sobre-nos p {
    color: rgb(106 106 106);
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

.WhatsApp {
    position: fixed;
    bottom: 26px;
    right: 26px;
    z-index: 9999;
}

.WhatsApp a:hover {
    border: none !important;
    background-color: transparent !important;
    color: inherit !important;
    border-radius: 0;
}

.sistemas-fotovoltaicos img {
    width: 105%;
    margin: 0px -5%;
}
/*  PARA MOBILE */
@media screen and (max-width: 480px) {
    body {
        padding: 10px !important;
        box-sizing: border-box;
    }
    
    * {
        box-sizing: border-box;
        max-width: 106%;
    }
    
    /*  HEADER */
    header {
        height: 116px;
        padding: 10px 5px;
        flex-wrap: wrap;
        position: absolute;
        width: 103%;
    }
    
    .logo img {
        width: 120px !important;
        height: 120px !important;
    }
    
    nav {
        width: 100%;
        order: 3;
        margin-top: -115px;
        padding-left: 56px;
    }
    
    nav a {
        font-size: 0.8em !important;
        margin: 3px 5px !important;
        padding: 5px 8px;
        display: inline-block;
    }
    
    .bi.bi-facebook,
    .bi.bi-whatsapp,
    .bi.bi-instagram {
        display: none;
    }
    /*  CARROSSEL "SLIDES" */
    .carousel {
        margin-top: 60px;
    }
    
    .carousel-item img {
        height: 180px !important;
        margin-top: 45px !important;
        width: 100vw;
        margin-left: -10px;
    }
    
    .carousel p {
            display: block;
            font-size: 8px;
            padding: 0px;
            margin: -5px;
        }
        .carousel-caption {
            display: block !important;
        }
    
    /* SEÇÃO SOBRE NÓS  */
    .sobre-nos {
        flex-direction: column;
        padding: 15px !important;
        margin: 0 !important;
        gap: 15px;
    }
    
    .imagem-empresa img {
        width: 100% !important;
        margin-top: 0 !important;
        padding: 0 !important;
    }
    
    .sobre-nos h1 {
        margin-top: 0 !important;
        font-size: 24px !important;
    }
    
    .sobre-nos p {
        font-size: 14px !important;
        line-height: 1.5;
    }
    
    /*  BENEFÍCIOS  */
    .beneficios-solar {
        flex-direction: column;
        margin: 20px 0 !important;
        padding: 10px !important;
        gap: 15px;
    }
    
    .beneficios-energia {
        width: 100%;
        margin-bottom: 0;
        min-width: auto;
        padding: 15px;
    }
    
    .beneficios-energia h3 {
        font-size: 1.2em !important;
    }
    
    /*  PERGUNTAS   */
    .borda-em-perguntas {
        width: 95% !important;
        padding: 15px !important;
        margin: 15px auto !important;
        border-radius: 20px !important;
    }
    
    .perguntas-frequentes {
        font-size: 20px !important;
    }
    
    h4 {
        font-size: 18px !important;
        margin-top: 5px !important;
    }
    
    .pessoas-pensando img {
        width: 80px !important;
        left: 0 !important;
        margin-right: 10px;
    }
    
    /*  FOOTER */
    .footer-dark {
        width: 100%;
        text-align: center;
        padding: 45px 18%;
        flex-direction: column;
    }
    
    /* ELEMENTOS GERAIS, mudanças recentes*/
    .titulo-destacado {
        font-size: 22px !important;
        padding-top: 5% !important;
        line-height: 1.3;
    }
    
    h3 {
        font-size: 24px !important;
        line-height: 1.3 !important;
    }
    
    .final-ajuda {
        font-family: sans-serif;
        font-size: 18px !important;
    }
    
    .promo h2 {
        font-size: 1.2rem;
    }
    
    .promo p {
        font-size: 0.9rem;
    }
    
    .saiba-mais {
        padding: 8px 12px;
        font-size: 0.9rem;
    }
    
    /* IMAGEM  */
    
    .sistemas-fotovoltaicos img {
        width: 100% !important;
        margin: 0 !important;
    }
    
    /*WHATSAPP */
    .WhatsApp img {
        width: 50px !important;
    }
}

/*  PARA TABLETS (481px - 768px) */
@media screen and (max-width: 768px) {
    body {
        padding: 15px;
    }
    
    .logo img {
        width: 180px;
        height: 180px;
    }
    
    .carousel-item img {
        height: 250px;
        margin-top: 80px;
    }
    
    .beneficios-energia {
        flex: 1 1 45% !important;
    }
    
    .sobre-nos {
        gap: 20px;
        padding: 30px !important;
    }
    
    .imagem-empresa img {
        width: 50% !important;
    }
}

